
h1 {
    text-align: center;
}
 
.calculator {
   display: flex;
 flex-direction: column;
  justify-content: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  width: 300px;
  margin: auto; 
 background-color: yellow;
}

.calculatorDisplay {
  display: flex;
flex-direction: column;
 justify-content: center;
 align-items: center;
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
 padding: 10px 0px;
 background-color: #805533;
}
.lowerCalculator {
  display: flex;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
/*flex-flow: row nowrap;*/
/* justify-content: flex-start;*/
 align-items: center;
  /* margin: 0px 0px 0px auto;*/
background-color: #805533;
}
.calculatorLeft{
 display: flex;
 border-bottom-left-radius: 10px;
 

  background-color: #805533;
 justify-content: flex-start;
  width: 220px;
  margin: 0px 0px 0px auto;
  flex-flow: column nowrap; 
}

.calculatorRight{
 display: flex;
 align-items: center;
 border-bottom-right-radius: 10px;

  background-color: #BD8260;
 justify-content: center;
   width: 70px;
  /*margin: 0px auto 0px 0px;*/
 flex-flow: column nowrap; 
}
.flexContainer {
    display: flex; /* divs will stack by default, this makes them in a row */
    flex-flow: row nowrap; /* set both direction and wrap in one line */
    align-items: flex-start; 
}
 
.flexItem {
  display: flex;

  border-radius: 10px;
    background-color: tan;
    height: 50px;
    width: 50px;
    order: 0; /* can be negative*/
 justify-content: center;
  align-items: center;
   margin: 10px;
    
}

.opsItem {
    background-color: black;
   color: white;
   font-weight: bold;
    justify-content: space-around;
   margin: 5x 10px;
   border: none;
   font-size: 20px;
    height: 40px;
    width: 50px;
    
}
.operations {
  flex-direction: column;
}
.clearbutton {
 background-color: white;
  
}
.calcDisplay{
  height: 30px;
  margin-top: 10px;
  font-family: "Courier";
  font-weight: bold;
  max-width: 15;
  background-color: lightgray;
  border-radius: 5px;
  text-align: right;
  padding: 5px;
}

.stepsDisplay{
  height: 15px;
  margin-top: 3px;
  font-family: "Courier";
  background-color: darkgrey;
  border-radius: 5px;
  text-align: right;
  padding: 3px;
}